.*
*.a
*.asn1.[ch]
*.bin
*.bz2
*.c.[012]*.*
*.dt.yaml
*.dtb
*.dtbo
*.dtb.s
*.dtbo.s
*.dwo
*.dylib
*.elf
*.gcno
*.gcda
*.gz
*.i
*.ko
*.lex.c
*.ll
*.lst
*.lz4
*.lzma
*.lzo
*.mod
*.mod.c
*.o
*.o.*
*.patch
*.pyc
*.rlib
*.rmeta
*.rpm
*.rsi
*.s
*.so
*.so.dbg
*.su
*.symtypes
*.tab.[ch]
*.tar
*.xz
*.zst
Module.symvers
dtbs-list
modules.order

/linux
/modules-only.symvers
/vmlinux
/vmlinux.32
/vmlinux.map
/vmlinux.symvers
/vmlinux.unstripped
/vmlinux-gdb.py
/vmlinuz
/System.map
/Module.markers
/modules.builtin
/modules.builtin.modinfo
/modules.builtin.ranges
/modules.nsdeps

/rpmbuild/
/debian/
/snap/
/tar-install/
/PKGBUILD
/pacman/

!.clang-format
!.clippy.toml
!.cocciconfig
!.editorconfig
!.get_maintainer.ignore
!.gitattributes
!.gitignore
!.kunitconfig
!.mailmap
!.pylintrc
!.rustfmt.toml

/include/config/
/include/generated/
/arch/*/include/generated/

patches-*

patches
series

tags
!tags/
TAGS

cscope.*
ncscope.*

GPATH
GRTAGS
GSYMS
GTAGS

ID

*~
\#*#

extra_certificates
signing_key.pem
signing_key.priv
signing_key.x509
x509.genkey

/all.config
/alldef.config
/allmod.config
/allno.config
/allrandom.config
/allyes.config

/defconfig

*.kdev4

compile_commands.json

sphinx_*/

/rust-project.json
